<div class="wrapper">
    <h1><%= @business.name %></h1>
    <p> <%= @info.rating %> </p>
    <p> <%= image_tag @info.icon %> </p>
    <p> <%= @info.types %> </p>
    <p> <%= @info.formatted_phone_number %> </p>
    <p> <%= link_to 'More about this place', @info.website %> </p>
    <%= image_tag @url, class: "business-photo" %>
</div>


