<div class="card">
  <div id="card_<%= candidate['place_id'] %>" class="card-body no-text" style="background-image: linear-gradient(rgba(0,0,0,0.1), rgba(0,0,0,0.6)), url(
    <% if candidate["photos"].present? %>
      <%= "https://maps.googleapis.com/maps/api/place/photo?maxwidth=300&photoreference=#{candidate["photos"][0]["photo_reference"]}&key=#{ENV['GOOGLE_API_SERVER_KEY']}" %>
    <% else %>
      <%= "https://picsum.photos/800/600/?random" %>
    <% end %>)">
    <p>No reviews yet</p>
  </div>
  <div class="card-footer">
    <h5><%= candidate["name"].truncate(20) %></h5>
    <p class="card-address"><%= candidate["formatted_address"].truncate(50) %></p>
  </div>
</div>





