<div class="card" id="card_<%= candidate['place_id'] %>" >
  <div class="card-footer" >
    <h5><%= candidate["name"].truncate(30) %></h5>
  </div>
  <p class="card-address"><%= candidate["formatted_address"].truncate(52) %></p>
  <% @average = reviews.pluck(:english_rating).sum / reviews.count %>
  <div class="review-stars">
    <% @average.round.times do %>
      <%= image_tag "flag_colored.svg", height: "20px" %>
    <% end %>
    <% (5-@average.round).times do %>
      <%= image_tag "flag.svg", height: "20px" %>
    <% end %>
  </div>
</div>
