<div class="home-wrapper">
  <div class="banner">
    <div class="container">
      <div class="banner-content text-center">
        <h2>find services in english</h2>
        <%= form_tag("/reviews", method: "get", id: "search_place") do %>
          <div class="form-row form-inline">
            <%= text_field_tag :input_address,
              params[:input_address],
              class: "form-control text-center",
              placeholder: "What service are you looking for today?" %>
            <%= hidden_field_tag :search_lat, '-22.9866074' %>
            <%= hidden_field_tag :search_lng, '-43.2173538'%>
            <%= submit_tag "find", class: "btn btn-primary", id: "search_button" %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
  <div id="fluid-container">
    <div class="container icon-container">
      <div class="row">
        <div class="col-md-4">
          <div class="review">
            <div class="field field-header">
              <h4>Search for a service</h4>
            </div>
            <div class="field field-content">
              <p>Find an English speaking service to take the worry out of your next hair appointment or massage, or whatever you are searching for today!</p>
            </div>
            <div class="field field-img">
              <%= image_tag "magnifier-tool.svg", height: 50, class: "field-logo" %>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="review">
            <div class="field field-header">
              <h4>Identify with your language</h4>
            </div>
            <div class="field field-content">
              <p>With our community providing constant updates, establishments are being reviewed for their English language skills.  Research your service provider.</p>
            </div>
            <div class="field field-img">
              <%= image_tag "visibility", height: 50, class: "field-logo" %>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="review">
            <div class="field field-header">
              <h4>Leave a review</h4>
            </div>
            <div class="field field-content">
              <p>Contribute to the lingo services community by leaving your own review and score your experience on the level of English spoken.</p>
            </div>
            <div class="field field-img">
              <%= image_tag "review", height: 50, class: "field-logo" %>
            </div>
          </div>
        </div>
      </div>
    </div>
    <a href="#top" id="bottom">Click to scroll up</a>
  </div>
</div>
