<%= form_for @review, remote: true do |f| %>
  <p>Add a reveiw of their language</p>
  <%= f.hidden_field :place_id, input_html: { :value => @place_id } %>
  <%= render 'rating', name: "review[english_rating]" %>
  <%= f.text_field :content, class: "form-control" %>
  <%= f.submit "add a review", class: "btn btn-primary" %>
<% end %>

