
  <div class="modal fade" id='<%= "review-modal-#{review.id}"%>' tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <div class="r-card-header">
            <h5 class="modal-title"><%= review.user.username %></h5>
            <h5 class="modal-title">
              <% review.english_rating.times do %>
                <%= image_tag "flag_colored", height: "20px" %>
              <% end %>
              <% (5-review.english_rating).times do %>
                <%= image_tag "flag", height: "20px" %>
              <% end %>
            </h5>
          </div>
          <h5 class="modal-title"><%= review.created_at %></h5>
        </div>
        <div class="modal-body">
          <h6><%= review.content %></h6>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
