<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>

<script>
  $(document).ready(function() {
  $('.flags').click(function() {
    $('.flags').removeClass('active');
    $(this).addClass('active');
  });
});
</script>

<div class="rating">
  <label>
    <%= image_tag "flag", class: "flags", id: "1" %>
    <input type="radio" name='<%= name %>' value="1"/>
  </label>
  <label>
    <%= image_tag "flag", class: "flags", id: "2" %>
    <input type="radio" name='<%= name %>' value="2"/>
  </label>
  <label>
    <%= image_tag "flag", class: "flags", id: "3" %>
    <input type="radio" name='<%= name %>' value="3"/>
  </label>
  <label>
    <%= image_tag "flag", class: "flags", id: "4" %>
    <input type="radio" name='<%= name %>' value="4"/>
  </label>
  <label>
    <%= image_tag "flag_colored", class: "flags", id: "5" %>
    <input type="radio" name='<%= name %>' value="5"/>
  </label>
</div>
