<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>

<script>
  $(document).ready(function() {
  $('.flags').click(function() {
    const normal_flag = '<%= asset_path('flag') %>'
    const colored_flag = '<%= asset_path('flag_colored') %>'
    const input = $(this).parent().find('input')
    const value = input[0].value
    $('.flags').attr('src', normal_flag);
    $('.flags').slice(0, value).attr('src', colored_flag);
  });
});
</script>

<div class="rating">
  <label>
    <%= image_tag "flag", class: "flags", id: "rating_1" %>
    <input type="radio" name='<%= name %>' value="1" style='visibility: hidden'/>
  </label>
  <label>
    <%= image_tag "flag", class: "flags", id: "rating_2" %>
    <input type="radio" name='<%= name %>' value="2" style='visibility: hidden'/>
  </label>
  <label>
    <%= image_tag "flag", class: "flags", id: "rating_3" %>
    <input type="radio" name='<%= name %>' value="3" style='visibility: hidden'/>
  </label>
  <label>
    <%= image_tag "flag", class: "flags", id: "rating_4" %>
    <input type="radio" name='<%= name %>' value="4" style='visibility: hidden'/>
  </label>
  <label>
    <%= image_tag "flag", class: "flags", id: "rating_5" %>
    <input type="radio" name='<%= name %>' value="5" style='visibility: hidden'/>
  </label>
</div>
