<div data-review-id="<%= review.id %>" class="r-card">
  <div class="r-card-header">
    <div><%= review.user.username %></div>
    <div class="review-font"><%= review.created_at.strftime("%m/%d/%Y") %></div>
  </div>
  <div>
    <h5 class="lang-review">
      <% review.english_rating.times do %>
        <%= image_tag 'flag_colored.svg', class: "review-icon" %>
      <% end %>
      <% (5-review.english_rating).times do %>
        <%= image_tag 'flag.svg', class: "review-icon" %>
      <% end %>
    </h5>
  </div>
  <div>
    <p class="review-font"><%= review.content.truncate(80) %></p>
  </div>
  <div class="details">
    <button type="button" class="btn btn-primary" data-toggle="modal" data-target='<%= "#review-modal-#{review.id}"%>'> See details </button>
  </div>

  <%= render 'modal', review: review %>
</div>
