<div class="col-xs-12 col-md-4">
  <div data-review-id="<%= review.id %>" class="r-card">
    <div class="r-card-header">
      <div>
        <h6><%= review.user.username.downcase.truncate(10) %></h6>
      </div>
      <div class="review-font">
       <h6><%= "#{distance_of_time_in_words(review.created_at, Time.now)} ago" %></h6>
      </div>
    </div>
    <div>
      <h5 class="language-review flags-small">
        <% review.english_rating.times do %>
          <%= image_tag 'flag_colored.svg', class: "review-icon" %>
        <% end %>
        <% (5-review.english_rating).times do %>
          <%= image_tag 'flag.svg', class: "review-icon" %>
        <% end %>
      </h5>
    </div>
    <div class="review-content">
      <% if review.content != "" %>
        <p>"<%= review.content.truncate(80) %>"</p>
        <% else %>
        <p class="nil-content">This reviewer only submitted a rating</p>
      <% end %>
    </div>
    <div class="details">
      <a data-target='<%= "#review-modal-#{review.id}"%>' data-toggle="modal">See details</a>
    </div>

    <%= render 'modal', review: review %>
  </div>
</div>
