<div class="container">

  <%= image_tag "https://maps.googleapis.com/maps/api/place/photo?maxwidth=760&photoreference=#{@result["photos"][0]["photo_reference"]}&key=#{ENV['GOOGLE_API_SERVER_KEY']}", class:"half-banner" %>

  <div class="row">
    <div class="col-xs-12 col-sm-6 info">
      <h4><%= @result["name"] %></h4>
      <p><%= @result["formatted_address"] %></p>
      <h5><%= @result["formatted_phone_number"] %></h5>
      <div class="reviews">
        <h5 class="google-review">
          Google review:
          <%= @result["rating"] %>
          <% @result["rating"].round.times do %>
            <i class="fas fa-star"></i>
          <% end %>
          <% (5-@result["rating"].round).times do %>
            <i class="far fa-star"></i>
          <% end %>
        </h5>

        <h5 class="language-review">
          Language review:
          <% if @result["reviews"].present? %>
            <% Review.average(:english_rating).round.times do %>
              <i class="fas fa-flag"></i>
            <% end %>
            <% (5-Review.average(:english_rating).round).times do %>
              <i class="far fa-flag"></i>
            <% end %>
          <% else %>
            <% 5.times do %>
              <i class="far fa-flag"></i>
              <% end %>
          <% end %>
        </h5>

      </div>

    </div>
    <div class="col-xs-12 col-sm-6 info">
      <h4>Review</h4>
      <% if @result["reviews"].present? %>
        <h5>Show Reviews</h5>
        <% @result["reviews"].each do |review| %>
          <p><%= review %></p>
        <% end %>
      <% else %>
        <h5>No language review yet.</h5>
      <% end %>
    </div>
  </div>
</div>
