<% content_for :meta_title, "#{@name} is on #{DEFAULT_META["meta_product_name"]}" %>

<div class="container">
  <div class="wrapper">
    <div class="row">
      <div class="col-xs-12 col-sm-6 info">
        <h4><%= @name %></h4>
        <p><%= @formatted_address %></p>
        <h5><%= @formatted_phone_number %></h5>
        <div class="reviews">
          <h5 class="google-review">
            Google review:&nbsp;
            <% @rating.round.times do %>
              <i class="fas fa-star"></i>
            <% end %>
            <% (5-@rating.round).times do %>
              <i class="far fa-star"></i>
            <% end %>
            &nbsp;(<%= @rating %>)
          </h5>
          <div id="average">
            <%= render 'average', reviews: @reviews %>
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-sm-6 info">
        <h4>Review</h4>
        <p>Please, review for <%= @name %></p>
        <div id="reviews">
          <% unless @reviews.blank? %>
            <% @reviews.each do |review| %>
              <% @review = review %>
              <%= render partial: 'review', locals: { review: @review } %>
            <% end %>
          <% end %>
        </div>
        <% @review = Review.new(place_id: @place_id) %>
        <%= render 'form', review: @review %>
      </div>
    </div>
  </div>


</div>

