<div class="container">
  <% if @result["photos"][0].present? %>
    <%= image_tag "https://maps.googleapis.com/maps/api/place/photo?maxwidth=760&photoreference=#{@result["photos"][0]["photo_reference"]}&key=#{ENV['GOOGLE_API_SERVER_KEY']}", class:"half-banner" %>
  <% else %>
    <%= "https://picsum.photos/800/600/?random" %>
  <% end %>

  <div class="row">
    <div class="col-xs-12 col-sm-6 info">
      <h4><%= @result["name"] %></h4>
      <p><%= @result["formatted_address"] %></p>
      <h5><%= @result["formatted_phone_number"] %></h5>
      <div class="reviews">
        <% if @result["rating"] != nil %>
          <h5 class="google-review">
            Google review:&nbsp;
            <% @result["rating"].round.times do %>
              <i class="fas fa-star"></i>
            <% end %>
            <% (5-@result["rating"].round).times do %>
              <i class="far fa-star"></i>
            <% end %>

            &nbsp;(<%= @result["rating"] %>)
          </h5>
          <% end %>


          <%= render 'average', reviews: @reviews %>

      </div>

    </div>
    <div class="col-xs-12 col-sm-6 info">
      <h4>Review</h4>
      <p>Please, review for <%= @result["name"] %></p>
      <div id="reviews">
        <% if @reviews.blank? %>
        <% else %>
          <% @reviews.each do |review| %>
            <% @review = review %>
            <%= render partial: 'review', locals: { review: @review } %>
          <% end %>
        <% end %>
      </div>

      <% @review = Review.new(place_id: @place_id) %>
      <%= render 'form', review: @review, reviews: @reviews %>

    </div>
  </div>
</div>

